{% from "bootstrap5/form.html" import render_form %}
{% include "header-nav.html" %}
{% include "side-nav.html" %}
<!-- Main Content-->
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Sweet Blessings</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Mileage Log</li>
                        </ol>

                    {% include "main-menu.html" %}
                        <div class="row">
                            <div class="col-xl-4">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        Mileage Log
                                    </div>
                                    <div class="card-body">
                                    <div class="card-body">
                                        {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
                                    </div>
                                    </div>
<!--                                <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>-->
                                </div>
                            </div>

                        <div class="col-xl-6 col-m-4>
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-table me-1"></i>
                                    Mileage Log
                                </div>
                                <div class="card-body">
                                    <table class="table table-hover recipe_tbl">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Start</th>
                                                <th>End</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for mileage in mileage_entries %}
                                            <tr>
                                                <td>{{ mileage.mileage_date }}</td>
                                                <td>{{ mileage.starting_mileage }}</td>
                                                <td>{{ mileage.ending_mileage }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <td>Total Miles: {{ total_miles }}</td>
                                        </tfoot>
                                    </table>
    <!--                               {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}-->
                                </div>
                            </div>
                        </div>
                        </div>

                    </div>
                </main>
            </div>
        </div>
{% include "footer.html" %}
