{% from "bootstrap5/form.html" import render_form, render_field, render_form_row %}
{% include "header-nav.html" %}
{% include "side-nav.html" %}
<!-- Main Content-->
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">Primary Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">Warning Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">Success Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-danger text-white mb-4">
                                    <div class="card-body">Danger Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        Ingredients
                                    </div>
                                    <div class="card-body">
<!--                                    <table id="datatablesSimple">-->
                                        <table>
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Item Name</th>
                                                <th>Supplier</th>
                                                <th>Size</th>
                                                <th> </th>
                                                <th>Cost</th>
                                                <th>Supplier</th>
                                                <th>Order Number/Barcode</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for supplier_item in supplier_items %}
                                            <tr>
                                                <td><a class="accordion-button" href="{{ url_for('supplier_item')}}">Edit</a></td>
                                                <td>{{ supplier_item.supplier_item_name }}</td>
                                                <td>{{ supplier_item.supplier_item.supplier_name }}</td>
                                                <td>{{ supplier_item.supplier_item_size }}</td>
                                                <td>{{ supplier_item.supplier_item_uom }}</td>
                                                <td>{{ supplier_item.supplier_item_cost }}</td>
                                                <td>{{ supplier_item.supplier_name }}</td>
                                                <td>{{ supplier_item.supplier_item_number }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        </table>
                                    </div>
<!--                                <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>-->
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar me-1"></i>
                                        Add Items
                                    </div>
                                    <form method="post" action="/supplier_item">
                                        <div class="card-body">
                                            <div class="row no-gutters">
                                                <div class="col col-form-label">
                                                    {{form.supplier_name.label}}
                                                </div>
                                                <div class="col col-form-label">
                                                    {{ form.supplier_name }}
                                                </div>
                                            </div>
                                            <div class="row no-gutters">
                                                <div class="col col-form-label">
                                                    {{form.supitem_name.label}}
                                                </div>
                                                <div class="col col-form-label">
                                                    {{ form.supitem_name }}
                                                </div>
                                            </div>
                                            <div class="row no-gutters" >
                                                <div class="col col-form-label">
                                                    {{form.supitem_number.label}}
                                                </div>
                                                <div class="col col-form-label">
                                                    {{ form.supitem_number }}
                                                </div>
                                            </div>
                                            <div class="row no-gutters">
                                                <div class="col col-form-label">
                                                    {{form.supitem_size.label}}
                                                </div>
                                                <div class="col col-form-label">
                                                    {{form.supitem_size}}
                                                </div>
                                           </div>
                                           <div class="row no-gutters">
                                                <div class="col col-form-label">
                                                    {{form.supitem_uom.label}}
                                                </div>
                                                <div class="col col-form-label">
                                                    {{form.supitem_uom}}
                                                </div>
                                           </div>
                                           <div class="row no-gutters">
                                                <div class="col col-form-label">
                                                    {{form.supitem_cost.label}}
                                                </div>
                                                <div class="col col-form-label">
                                                    {{form.supitem_cost}}
                                                </div>
                                            </div>
                                           <div class="row no-gutters">
                                             {{form.submit}}
                                            </div>
                                        </div>
                                        {{form.csrf_token}}
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                DataTable Example
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Add Ingredients</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for ingredient in all_ingredients %}
                                        <tr>
                                            <td>{{ ingredient.ingredient_name }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                               {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}

                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
{% include "footer.html" %}
{% include "footer.html" %}
